* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(162, 182, 115);
    color: #fff;
    width: 100%;
    height: 100vh;
}

header {
    height: 10%;
}

h1 {
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

.list-box {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 350px;
    padding: 10px;
    box-shadow: 2px 2px 5px 2px black;
}

.txt_input {
    width: 200px;
    padding: 4px 8px;
    margin: 2px 20px 8px 0;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 6px;
}

.list-btn {
    padding: 4px 8px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 6px;
}

.form-box {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 350px;
    padding: 10px;
    box-shadow: 2px 2px 5px 2px black;
}

.form-box input {
    width: 100%;
    padding: 4px 8px;
    margin: 2px 0 8px 0;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 6px;
}

.form-box input[type="button"] {
    margin: 10px auto;
    font-size: 1rem;
}

.background {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 350px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px 2px black;
}

li {
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px solid gray;
}

li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: burlywood;
}